<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ggb.morning_routine.board.mapper.BoardMapper">

    <!-- 게시글 목록 조회 -->
    <select id="selectBoardList" parameterType="CmmnVo" resultType="BoardVo">
        /* 게시글 목록 조회 */
        SELECT ROW_NUMBER() over (order by REG_DATE DESC) AS no /* rownum */
             , MORNING_ROUTINE_SNO AS morningRoutineSno         /* 순번(시퀀스: MORNING_ROUTINE_SNO_SEQ) */
             , TO_CHAR(RECORD_DATE, 'YYYY-MM-DD') AS recordDate                        /* 기록날짜 */
             , TO_CHAR(BEDTIME, 'HH24:MI') AS bedtime                               /* 전날 취침시간 */
             , TO_CHAR(SCHEDULED_WAKE_UP_TIME, 'HH24:MI') AS scheduledWakeUpTime    /* 기상 예전 시간 */
             , TO_CHAR(WAKE_UP_TIME, 'HH24:MI') AS wakeUpTime                       /* 기상 시간 */
             , WALK_YN AS walkYn                                /* 산책 여부 */
             , SUCCESS_FAILURE_YN AS successFailureYn           /* 성공 여부 */
             , NOTE AS note                                     /* 비고 */
             , NVL(GRATITUDE_JOURNAL, '없음') AS gratitudeJournal            /* 감사일기 */
             , REG_DATE AS regDate                              /* 등록일시 */
             , MOD_DATE AS modDate                              /* 수정일시 */
          FROM MORNING_ROUTINE_INFO
    </select>

    <!-- 게시글 등록 -->
    <insert id="insertBoard" parameterType="BoardVo">
        <selectKey keyProperty="morningRoutineSno" resultType="int" order="BEFORE">
            SELECT MORNING_ROUTINE_SNO_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        /* 게시글 등록 */
        INSERT INTO MORNING_ROUTINE_INFO
            (
                MORNING_ROUTINE_SNO
              , RECORD_DATE
              , BEDTIME
              , SCHEDULED_WAKE_UP_TIME
              , WAKE_UP_TIME
              , WALK_YN
              , SUCCESS_FAILURE_YN
              , NOTE
              <if test="gratitudeJournal != null and gratitudeJournal != ''">
              , GRATITUDE_JOURNAL
              </if>
            )
            VALUES
            (
                #{morningRoutineSno}
              , TO_DATE(#{recordDate}, 'YYYYMMDD HH24:MI:SS')
              , TO_DATE(#{bedtime}, 'YYYYMMDD HH24:MI:SS')
              , TO_DATE(#{scheduledWakeUpTime}, 'YYYYMMDD HH24:MI:SS')
              , #{wakeUpTime}
              , #{walkYn}
              , #{successFailureYn}
              , #{note}
            <if test="gratitudeJournal != null and gratitudeJournal != ''">
              , #{gratitudeJournal}
            </if>
            )
    </insert>

</mapper>